<!DOCTYPE html>
<html>

<head>
  <title>All Notes</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <h1>All Notes</h1>

  <a href="/notes/new">New Note</a>

  <ul>
    <% notes.forEach(note=> { %>
      <li>
        <a href="/notes/<%= note.id %>">
          <%= note.title %>
        </a>
      </li>
      <% }) %>
  </ul>


</body>

</html>