<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>New Note</h1>

<form action="/notes" method="POST">
  <input name="title" placeholder="Title" />
  <br><br>
  <textarea name="content" placeholder="Content"></textarea>
  <br><br>
  <button>Create</button>
</form>

<a href="/notes">Back</a>
    
</body>
</html>